#about-top {
    background-color: #80B9AD;
    padding: 48px 140px;
    display: flex;
}

.about-question {
    display: inline-block;
    width: 45%;
    font-size: 18px;
    padding: 12px 0;
}

.about-top-header {
    font-size: 30px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.about-image {
    display: inline-block;
    width: 55%;
}

.about-image img {
    width: 100%;
    border-radius: 6px;
}

#infographic {
    padding: 48px 140px;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

.info-stat {
    display: inline-block;
    width: 400px;
    height: 250px;
}

.info-stat-number {
    height: 150px;
    width: 350px;
    margin: 12px auto;
    font-size: 64px;
    display: flex;
    align-items: center;
}

.info-stat-number p {
    width: 100%;
    text-align: center;
}

.info-stat-headline {
    text-align: center;
    font-size: 22px;
    border-top: 1px solid black;
    width: 350px;
    margin: auto;
    margin-top: 12px;
}

.info-stat-headline p {
    margin: 12px;
}

#mission {
    padding: 48px 140px;
    font-size: 18px;
}

.mission-header {
    font-size: 30px;
}

#start {
    padding: 48px 140px;
    background-color: #72A0C1;
    font-size: 18px;
    color: white;
}

.start-header {
    font-size: 30px;
}

#for-you {
    padding: 48px 140px;
    font-size: 18px;
}

.for-you-header {
    font-size: 30px;
}

#for-you-cta {
    margin-top: 24px;
}

.pillars {
    display: flex;
    align-items: center;
}

.pillars p {
    padding-left: 12px;
}

.pillars .fa-solid {
    width: 22.5px;
}

#brands {
    padding: 48px 140px;
    background-color: lightgray;
    display: flex;
}

.brands-text {
    width: 50%;
    font-size: 18px;
}

.brands-header {
    font-size: 30px;
}

.brands-button-margin {
    margin-top: 24px;
}

.brands-we-work-with {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 18px;
}

.brand-name-logo {
    display: inline-block;
}

.brand-name {
    text-align: center;
}

.brand-logo {
    border: 1px solid black;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 12px;
}

#social-media {
    padding: 48px 140px;
    background-color: #72A0C1;
    color: white;
    font-size: 18px;
}

.social-media-header {
    font-size: 30px;
}

.about-social-media {
    color: white;
    font-size: 32px;
    margin: 0 12px;
}