/* why discount codes sections */

#discount-cta {
    background-color: #80B9AD;
    font-family: 'Noto Sans Thai';
    display: flex;
}

#left-cta {
    display: inline-block;
    width: 60%;
    padding: 24px 0 72px 140px;
}

#right-cta {
    display: flex;
    align-items: center;
    width: 46%;
}

#right-cta img {
    width: 873px;
    height: 489px;
}

#why-heading p {
    margin: 48px 0 0 0;
    font-size: 92px;
    font-family: "Satisfy";
}

#why-subheading p {
    margin: 0;
    font-size: 20px;
}

#start-exploring-div {
    margin-top: 24px;
}

#start-exploring {
    padding: 12px;
    font-size: 16px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 8px;
}

#start-exploring:hover {
    cursor: pointer;
    opacity: 75%;
}

#start-exploring:visited, #start-exploring:focus #start-exploring:visited {
    color: white;
}

#email {
    font-family: 'Noto Sans Thai';
    color: white;
    background-color: #B3E2A7;
    padding: 48px 108px;
    font-size: 24px;
}

#email-box {
    width: 200px;
}

/* discount codes section */

#discount-section {
    background-color: #538392;
    color: white;
}

#top-offers p {
    margin: 0;
    font-size: 32px;
    font-family: 'Noto Sans Thai';
    text-align: center;
    padding: 32px;
}

#offer-list {
    width: 82.2%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.list-option {
    border-radius: 6px;
    width: 400px;
    margin: 0 8px;
    justify-content: space-around;
    background-color: white;
    color: black;
}

#top {
    margin-bottom: 16px;
}

.image {
    border: 1px solid black;
    border-radius: 6px;
    height: 240px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.offer-company {
    font-size: 14px;
    font-weight: 500;
    margin: 8px;
}

.offer {
    font-size: 18px;
    margin: 8px;
}

.list-option:hover {
    cursor: pointer;
}

#view-all-offers {
    text-align: center;
    font-size: 18px;
    padding: 36px;
    width: 16%;
    margin: auto;
}

#view-all-offers:hover {
    cursor: pointer;
}

#view-all-offers:active, #view-all-offers:link, #view-all-offers:visited {
    color: white;
}