#discount-header p {
    background-color: #6CB4EE;
    color: white;
    font-size: 24px;
    margin: 0;
    padding: 16px;
    text-align: center;
}

#discount-section {
    background-color: #538392;
    color: white;
}

#top-offers p {
    margin: 0;
    font-size: 32px;
    font-family: 'Noto Sans Thai';
    text-align: center;
    padding: 32px;
}

#offer-list {
    width: 82.2%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.list-option {
    border-radius: 6px;
    width: 400px;
    margin: 0 8px;
    justify-content: space-around;
    background-color: white;
    color: black;
}

#top {
    margin-bottom: 16px;
}

.image {
    border: 1px solid black;
    border-radius: 6px;
    height: 240px;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.offer-company {
    font-size: 14px;
    font-weight: 500;
    margin: 8px;
}

.offer {
    font-size: 18px;
    margin: 8px;
}

.list-option:hover {
    cursor: pointer;
}

#view-all-offers {
    text-align: center;
    font-size: 18px;
    padding: 36px;
    width: 16%;
    margin: auto;
}

#view-all-offers:hover {
    cursor: pointer;
}

#view-all-offers:active, #view-all-offers:link, #view-all-offers:visited {
    color: white;
}

/* why discount codes sections */

#discount-cta {
    background-color: #80B9AD;
    font-family: 'Noto Sans Thai';
    color: white;
}

#why-heading p {
    margin: 0;
    font-size: 72px;
    padding: 48px 48px 12px 108px;
}

#why-subheading p {
    margin: 0;
    font-size: 24px;
    padding: 12px 108px;
}

#start-exploring {
    padding-bottom: 48px;
}

#start-exploring p {
    padding: 8px;
    margin: 12px 108px;
    font-size: 18px;
    border: 1px solid white;
    width: 10%;
    text-align: center;
    border-radius: 6px;
}

#start-exploring:hover {
    cursor: pointer;
}

#start-exploring:visited, #start-exploring:focus #start-exploring:visited {
    color: white;
}

#email {
    font-family: 'Noto Sans Thai';
    color: white;
    background-color: #B3E2A7;
    padding: 48px 108px;
    font-size: 24px;
}

#email-box {
    width: 200px;
}