/* MealVista Compare FAQs section */

#faq-section {
    background-color: #538392;
    color: white;
    font-family: 'Noto Sans Thai';
}

#faq-title p {
    text-align: center;
    margin: 0 32px 24px 32px;
    padding-top: 64px;
    font-size: 32px;
}

#faq-title .faq-subheading {
    font-size: 32px;
    font-weight: bold;
    padding: 0;
}

.accordion-layout {
    margin: 48px;
}

.accordion {
    margin: 12px auto;
    border: 1px solid white;
    border-radius: 12px;
    width: 1000px;
}

.accordion-question p {
    font-size: 24px;
    margin: 12px;
    text-align: center;
}

.accordion-answer p {
    text-align: center;
    font-size: 16px;
    padding: 0 24px;
}

.accordion:hover {
    cursor: pointer;
}

.accordion-answer {
    display: none;
}

#faq-link:active, #faq-link:visited, #faq-link:focus {
    color: black;
    text-decoration: underline;
}

.accordion.active .accordion-answer {
    display: block;
}

.accordion.active {
    background-color: white;
    color: black;
}

#angle-up {
    display: none;
}

.accordion.active #angle-down {
    display: none;
}

.accordion.active #angle-up {
    display: inline;
}

#more-faqs {
    padding-bottom: 64px;
    text-align: center;
}

#more-faqs-button {
    margin-top: 32px;
}