body {
    font-family: 'Coiny';
}

/* navigation styles */

#navigation {
    display: flex;
    /* astros navy */ background-color: #002D62;
    color: white;
}

#logo {
    font-family: 'Coiny';
    font-size: 26px;
    margin-left: 12px;
}

.navbar {
    display: flex;
    margin: 0 auto;
    height: 100%;
    padding-left: 200px;
}

.navbar li {
    display: inline-block;
    padding: 10px 20px;
    margin: auto 10px;
    font-size: 16px;
}

#cta-nav-button {
    padding-left: 300px;
    font-size: 18px;
}

/* type of compare option */

#cta {
    /* cambridge blue */ background-color: #A3C1AD;
    height: 1000px;
}

#intro {
    background-color: #6CB4EE;
    color: white;
}

#intro p {
    margin: 0;
    padding: 12px;
    text-align: center;
    font-size: 24px;
}

.compare-choice {
    color: white;
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 12px 0;
}

.compare-option {
    display: flex;
    justify-content: center;
    padding: 12px;
}

#option-r2g {
    display: inline-block;
    text-align: center;
}

#option-recipe-kit {
    display: inline-block;
    text-align: center;
}

.option-image {
    padding: 12px;
    height: 300px;
    width: 500px;
}

.option-image img {
    height: 300px;
    width: 500px;
    border-radius: 10px;
}

.option-title {
    text-align: center;
    font-size: 24px;
}

#cta button {
    border: 2px solid green;
    background-color: #faffc7;
    color: black;
    padding: 12px;
    border-radius: 10px;
}

/* cta section styles */

#cta-top {
    display: flex;
    border: 1px solid black;
}

#cta-img {
    display: inline-block;
    width: 50%;
}

#cta-img img {
    width: 100%;
    padding: 12px;
}

#cta-text {
    display: inline-block;
    border: 1px solid red;
    text-align: center;
}

.cta-text {
    font-size: 30px;
    margin: 0;
    color: white;
    padding: 12px;
}