body {
    margin: 0;
    font-family: 'Noto Sans Thai';
}

/* navigation styles */

#navigation {
    display: flex;
}

#home-button:active, #home-button:visited, #home-button:focus, #home-button:link {
    text-decoration: none;
}

.biz-name p {
    font-size: 30px;
    color: #6295A2;
    margin: 24px 0 0 132px;
    text-align: center;
}

.slogan p {
    font-size: 10px;
    color: #6295A2;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 14px 132px;
}

.navbar {
    display: flex;
    margin: 0 auto;
    height: 100%;
    margin-left: 28%;
    width: 100%;
}

.navbar li {
    display: inline-block;
    padding: 4px;
    margin: auto 20px;
    font-size: 16px;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

li a:visited, li a:active, li a:focus {
    color: black;
}

#no-dec {
    text-decoration: none;
}

/* tag */

#tag p {
    background-color: #B3E2A7;
    font-size: 18px;
    margin: 0;
    padding: 16px;
    text-align: center;
}

#comparison-button:hover {
    text-decoration: underline !important;
}

#comparison-button:active, #comparison-button:focus, #comparison-button:visited {
    color: black;
}

/* cta index.html */

#cta {
    background-color: #80B9AD;
    display: flex;
}

#cta-words {
    display: inline-block;
    width: 60%;
    padding: 24px 24px 72px 140px;
}

.big-text {
    margin: 48px 0 0 0;
    font-family: "Satisfy";
    font-size: 92px;
}

.little-text {
    font-size: 20px;
    width: 40%;
    margin: 0 0 24px 0;
}

#lets-get-started-button {
    margin: 0;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    background-color: black;
    color: white;
}

#lets-get-started-button:hover {
    opacity: 75%;
    cursor: pointer;
}

#lets-get-started-button:active, #lets-get-started-button:focus, #lets-get-started-button:visited {
    color: white;
}

#cta-image {
    width: 46%;
    margin: 0 24px 0 0;
    display: inline-block;
}

#cta-image img {
    height: 100%;
    width: 565px;
    padding: 0 66px;
}

/* what we do */

#text-header p {
    font-size: 48px;
    margin: auto;
    padding-top: 48px;
    text-align: center;
}

.vistameal {
    color: #6295A2;
    font-family: "Satisfy";
}

#text-subheader p {
    font-size: 22px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 16px;
}

#products {
    margin: 16px 108px 48px 108px;
    display: flex;
    justify-content: space-around;
}

.product {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    padding-top: 12px
}

.product img {
    height: 350px;
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
}

.product p {
    margin: 24px;
}

#find-out-more-button {
    border-radius: 10px;
    padding: 12px 24px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 16px;
}

#find-out-more-button:hover {
    opacity: 75%;
    cursor: pointer;
}

#find-out-more-button:active, #find-out-more-button:focus, #find-out-more-button:visited {
    color: white;
}

.fa-angle-right {
    font-size: 12px;
}

/* cta section styles */

#cta-top {
    /* air superiority blue */background-color: #72A0C1;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans Thai';
}

#border {
    display: flex;
    border-radius: 16px;
    width: 90%;
}

#cta-img {
    display: inline-block;
    width: 60%;
}

#cta-img img {
    width: 100%;
    border-radius: 10px;
    margin: 100px 0;
}

#cta-text {
    display: inline-block;
    padding: 36px 24px;
    margin: 80px 0;
    width: 40%;
}

.cta-text {
    font-size: 16px;
    margin: 0;
    color: white;
    padding: 10px;
}

#reasons-text {
    display: flex;
}

#reasons-text i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
    width: 20px;
    margin-right: 18px;
}

.reason-title {
    font-size: 26px;
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 12px;
}

#reasons {
    width: 95%;
    margin: 12px;
    margin-top: 0;
}

#compare-button {
    text-align: center;
}