#view-all-section {
    background-color: lightgray;
    font-family: 'Noto Sans Thai';
    padding-bottom: 48px;
    display: flex;
}

/* codes sent to inbox section */

#view-all-left {
    display: inline-block;
    width: 75%;
}

#view-all-right {
    display: inline-block;
    width: 25%;
    margin: 48px 140px 0 0;
}

#search-by-brand {
    margin: 16px;
}

.brand-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

#brands {
    display: flex;
}

#brands ul {
    margin: 16px 0;
    padding: 0;
}

#brands li {
    background-color: white;
    border-radius: 2px;
    margin: 4px;
    padding: 4px;
    display: inline-block;
    text-decoration: none !important;
}

#brands li:hover {
    background-color: #6295A2;
}

#email-me-discounts {
    width: 75%;
    margin: 0 140px;
    padding: 48px 0;
    text-align: center;
}

#email-me-discounts p {
    margin: 12px;
    font-size: 18px;
}

.discount-title {
    font-size: 22px !important;
    text-align: center;
}

.email-discount-button {
    width: 20.5%;
    margin: auto !important;
    padding: 12px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-size: 16px !important;
    
}

.email-discount-button:hover {
    cursor: pointer;
    opacity: 75%;
}

/* The Modal (background) */
.modalEmail {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content-email {
    background-color: white;
    margin: 12% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
}

.discount-subtitle {
    text-align: center;
}

.bold-text {
    font-weight: bold;
}

.modal-content-email p {
    margin: 8px 0;
}

#email-title {
    margin-bottom: 0;
    font-size: 14px;
}

input {
    height: 40px;
    font-size: 16px;
    width: 280px;
    padding: 0 6px;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    display: block;
    margin: auto;
    font-size: 16px;
    font-family: 'Noto Sans Thai';
}

button:hover {
    cursor: pointer;
    opacity: 75%;
}

/* The Close Button */
.closeModalEmail {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.closeModalEmail:hover, .closeModalEmail:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* view all discounts section */

#discount-code {
    background-color: white;
    border-radius: 6px;
    width: 75%;
    margin: 0 140px 14px 140px;
    display: flex;
    justify-content: space-between;
}

#discount-text {
    display: inline-block;
}

#discount-company p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 18px;
}

#discount-description p {
    font-size: 22px;
    margin: 0;
    padding: 0 18px 18px 18px;
}

#discount-button {
    display: inline-block;
    width: 20%;
    height: 50%;
    text-align: center;
    background-color: lightgray;
    border-radius: 6px;
    margin: 28px;
}

#get-code-button p {
    font-size: 20px;
    margin: 0;
    padding: 12px;
}

#discount-button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#modal-email-section {
    border-top: 1px solid #6295A2;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */  
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
}

#modal-discount-description {
    text-align: center;
    font-size: 18px;
}

#highlight {
    color: #6295A2;
    font-weight: bold;
}

#modal-discount-code {
    display: flex;
    background-color: #6295A2;
    justify-content: space-between;
    border-radius: 8px;
    padding: 12px 0;
}

#code1, #code2 {
    display: inline-block;
    margin: 12px 96px;
    padding: 12px;
    width: 24%;
    text-align: center;
    background-color: #6295A2;
    border: none;
}

#button1, #button2 {
    display: inline-block;
    margin: 12px 96px;
    padding: 0 24px;
    border-radius: 8px;
    font-size: 16px;
}

#continue-to-website {
    text-align: center;
}

#continue-to-website a:active, #continue-to-website a:visited, #continue-to-website a:focus {
    color: black;
}

#continue-to-website a:hover {
    text-decoration: underline !important;
}
  
/* The Close Button */
.closeModal1, .closeModal2, .closeModal3, .closeModal4, .closeModal5, .closeModal6 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.closeModal1:hover, .closeModal1:focus, 
.closeModal2:hover, .closeModal2:focus, 
.closeModal3:hover, .closeModal3:focus,
.closeModal4:hover, .closeModal4:focus,
.closeModal5:hover, .closeModal5:focus,
.closeModal6:hover, .closeModal6:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}